<div class="container">
  <div class="card my-4">
    <h5 class="card-header">
      <div id="comment-<%= comment.id %>">
      By  <strong><%= link_to comment.user.username, comment.user %> </strong>
      </h5>
      <%= comment.body %>
      <%#= link_to "Delete", lection_comment_path(@lection, comment),method: :delete, remote: true, style: 'float: right' %>
      <%# <%= link_to "Like", {:controller => "comments", method: :like_dislike} %>
      <hr />
    <div class="card-footer text-muted">
        <%= time_ago_in_words(comment.created_at) %> ago
      </div>
    </div>
  </div>
</div>
