
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function() {
    var dataset_string = document.getElementById('tags').dataset.autocomplete;
    var available_tags = dataset_string.slice(2, dataset_string.length - 2).split('","')

    function split(val) {
      return val.split(/ \s*/);
    }

    function extractLast(term) {
      return split(term).pop();
    }

    $("#tags")
    .autocomplete({
      minLength: 0,
      source: function( request, response ) {
        response( $.ui.autocomplete.filter(
        available_tags, extractLast(request.term)));
      },
      focus: function() {
        return false;
      },
      select: function(event, ui) {
        var terms = split(this.value);
        terms.pop();

        terms.push( ui.item.value );
        terms.push( "" );
        this.value = terms.join( " " );
        return false;
      }
    });
  });

</script>
<%= form_with(model: lection, local: true) do |form| %>
<br>
<div class="container">

  <% if lection.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(lection.errors.count, "error") %> prohibited this lection from being saved:</h2>
    <ul>
      <% lection.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-md-12">
          <h5 class="card-header">Create new Lection</h5>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <%= form.label :title, class: "col-4 col-form-label" %>
            <div class="col-8">
              <%= form.text_field :title, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= form.label :description, class: "col-4 col-form-label" %>
            <div class="col-8">
              <%= form.text_field :description, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= form.label :speciality, class: "col-4 col-form-label" %>
            <div class="col-8">
              <%= form.number_field :speciality, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= form.label :body, class: "col-4 col-form-label" %>
            <div class="col-8">
              <%= form.text_area :body, class: "form-control", rows: 5 %>
            </div>
          </div>

          <div class="form-group row">
            <%= form.label :tags, class: "col-4 col-form-label" %>
            <div class="col-8">
              <%= form.text_field :tag_list, class: "form-control", id: "tags", data: {autocomplete: ActsAsTaggableOn::Tag.pluck(:name)} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-4 col-8">

            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <hr>
        <div class="col-10">
          <%= link_to 'Back', lections_path, :class => "btn btn-primary" %>
        </div>

        <div class="col-2">
          <%= form.submit 'Create',:class => "btn btn-primary" %>
        </div>
      </div>

    </div>
  </div>
</div>
  <% end %>
