<div class="card mb-4">
  <div class="card-body">
    <div class="post">
      <div class="post-header well well-sm">
        <span class="glyphicon glyphicon-user" id="start"> <%=link_to lection.user.username, lection.user %></span>
        <span class="badge" class="pull-left" class ="label label-info">  at <%= lection.created_at.toDateTime %></span>
        <div class="pull-right">
          <% lection.tag_list.each do |tag| %>
          <span class="badge pull-right"><%= tag %></span>
          <% end %>
        </div>
        <h1><%= lection.title %></h1>
        <hr>
        <span class="card-title"><%= lection.description %> | Speciality: <%= lection.speciality %> </span>
        <hr>
        <% if lection.body.length > 250 %>
        <%= truncate(lection.body, length: 250) %>
        <%= link_to "Read More",lection,class: "btn btn-primary" %>
        <% else %>
        <%= lection.body %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if current_user %>
<% if current_user==lection.user or current_user.admin %>
<%= link_to 'Destroy', lection, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>
