<div class="card mb-4">
  <h6 class="card-header">
    <span data-toggle="tooltip" data-placement="left" title="Click here to see the profile">
  By <%=link_to lection.user.username, lection.user %>
            <div class="badge badge-pill badge-secondary float-right">Created at <%= lection.created_at.toDateTime %></div>
    </span>
  </h6>
  <div class="card-body">
    <span data-toggle="tooltip" data-placement="right" title="Click here to edit">
    <% if current_user && current_user==lection.user or current_user.admin %>
    <div class="btn-group dropright float-right">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
      <div class="dropdown-menu">
        <%= link_to 'Destroy', lection,class:"dropdown-item align-middle" , method: :delete, data: { confirm: 'Are you sure?' } %>
        <td><%= link_to 'Edit', edit_lection_path(lection),class:"dropdown-item align-middle" %></td>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <% end %>
    <h1><%= lection.title %></h1>
    <hr>
    <h6 class="card-title"><%= lection.description %> | Speciality: <%= lection.speciality %> </h6>
    <hr>
    <% if lection.body.length > 250 %>
    <%= truncate(lection.body, length: 250) %>
    <% else %>
    <%= lection.body %>
    <% end %>

  </div>
  <div class="card-footer text-muted">
    <% lection.tag_list.each do |tag| %>
    <span class="badge badge-pill badge-info"><%= tag %></span>
    <% end %>
    <%= link_to "Read More", lection ,class: "btn btn-outline-info float-right"%>
  </div>
</div>
